---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const {
  title = "Черни Вит",
  description = "Сайт за село Черни Вит – история, махали, забележителности, зелено сирене, галерия и традиции.",
} = Astro.props;
---

<!doctype html>
<html lang="bg">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>